<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Users/seancaspy/Desktop/project1/mysite/food/static/food/style.css">
</head>
<body>
    {% load static %}

    <ol>
        {% for item in items %}
            <li>
                <h1>
                <a href="/food/{{ item.id }}"> {{ item.id }} -- {{ item.item_name }}</a>
                </h1>
            </li>
            
        {% endfor %}
    </ol>
</body>
</html>